
<header>
    <div class="brand">
        <div class="logo ">
            <%- include('../partials/logo.ejs') %>
        </div>
        <div class="brandName"><a href="/">Rangal Softwares</a></div>
    </div>

    <div class="toggle">
        <div>
            <!-- <label>Language:
            <div class="lang">
                <select onchange="changeLang()">
                    <option value="english">English</option>
                    <option value="tamil">Tamil</option>
                </select>
            </div>
        </label> -->
        </div>
        <div>
            <!-- <label>
                <div class="mode">
                    <input onclick="changeMode()" type="checkbox" />
                </div>
            </label> -->
        </div>
    </div>
    
    <nav class="menu">
        <ul class="navlinks" >
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#" onclick="makeRequest('/about')">About&nbsp;Us</a></li> -->
            <li><a href="/about">About&nbsp;Us</a></li>


            <% if (data.mode !== undefined && data.mode == 'user') {%>
                <li><a href="/profile">User</a></li> 
            <% }%>
            <% if (data.mode !== undefined && data.mode == 'faculty') {%>
                <li><a href="#">Faculty</a></li> 
            <% }%>
            <% if (data.mode !== undefined && data.mode == 'admin') {%>
                <li><a href="/admin">Admin</a></li> 
            <% }%>


            <% if (data.uname) {%>
                <li><a href="/logout">Logout</a></li> 
            <% }%>
            <% if (data.uname == undefined || data.uname == '') {%>
                <li><a href="/login">Login</a></li> 
            <% }%>
        </ul>      
    </nav>
</header>
<%- include('../partials/closeButton.ejs') %>