<div class="loginUser"> 
    <% if (data.uname) {%>
        Welcome <%= data.uname %> 
    <% }%>
    <% if (data.mode == 'admin' || data.mode == 'faculty' ) {%>
        (<%= data.mode %>)
    <% }%>
</div>