<section class="content">
    <div class="mainContent">
        <p>Need a website?</p>
        <p>Starting a website and moving your business online is easy now</p>
        <p>We are here to make it happen for you</p>
        <a class="hero-btn" href="/login">View More</a>
        <!-- தொடர்புக்கு -->
    </div>
    <div class="moon animate-moveleft"></div>
    <div class="flight">
        <div class="flight1 animate-moveleft1"></div>
    </div>
</section>
