<%- include('./partials/userDetails.ejs') %>
<section class="content">
    <div class="mainContent">
        <p><%= pageData.p1 %></p>
        <%- include('./partials/editDiv.ejs', {mode: data.mode, value: pageData.p2, field: 'homepage_p2', fieldType: 'txtbox'}) %>
        <%- include('./partials/editDiv.ejs', {mode: data.mode, value: pageData.p3, field: 'homepage_p3', fieldType: 'txtbox'}) %>
        <a class="hero-btn" href="#" onclick="showMsg('Coming Soon..',5)">View More</a>
        <!-- தொடர்புக்கு -->
    </div>
    <div class="moon animate-moveleft"></div>
    <div class="flight">
        <div class="flight1 animate-moveleft1"></div>
    </div>
</section>
