<div id="divLogin" class="modal">

    <div class="modal-content ">
        <div class="logoleft">
            <div class="imgcontainer logoShow">

                <svg viewBox="25 15 115 120">
                    <polygon class="RLegShadow RlogoShadow"
                        points="59.25,35.708 67.594,116.281 75.5,102.75 67.917,26.25" />
                    <path class="RShadow RlogoShadow" />
                    <path class="RFront letterR" />
                    <path class="SShadow SlogoShadow" />
                    <path class="SShadow1 SlogoShadow" />
                    <path class="SFront letterS" />
                    <polygon class="RLeg letterR" points="57.583,116.85 67.58,116.289 59.25,35.667" />
                </svg>
            </div>
        </div>

        <div class="logincontainer">
            <form method="post" action="forgot" onsubmit="return userRegistration();">

                <%- include('../_login.ejs') %>   
                <%- include('../_retypePwd.ejs') %>   
                <%- include('../_resetPwd.ejs') %>   
                <div class="loginSubmit">
                    <a href="/login" class="cancelbtn" >Cancel</a>
                    <button type="submit" >Submit</button>
                </div>
                <div class="msg">
                    <%= msg %>
                </div>
            </form>
            
        </div>

    </div>
</div>