<div class="loginMode">
    <input type="radio" name="rbUserRole" value="user" checked class="userrole roleUser"></input>
    <input type="radio" name="rbUserRole" value="faculty" class="userrole roleFaculty"></input>
    <input type="radio" name="rbUserRole" value="admin" class="userrole roleAdmin"></input>
 </div>