<input class="loginInput" name="txtRegPwd2" type="password" required placeholder="Retype Password" />
<input class="loginInput" name="txtRegEmail" value="<%= data.email %>" type="email" required placeholder="Email" />
<!-- <a href="/login/getOTP" class="getOTP" >Get OTP in email</a>
<input class="loginInput" id="txtOTP" autofocus type="text" required placeholder="OTP" /> -->


