
.logo{
    width: 50px;
    padding: 10px;
    position: relative;
}


.RlogoShadow {
    fill:#000;
    stroke:transparent;
}  

.dark .RlogoShadow{
    fill:#e4e7be;
    stroke:transparent;
} 

.letterR{
    fill: #b8860b;
    stroke: #ff0;
}

.SlogoShadow{
    fill: #a6c35da1;
    stroke: transparent;
}

.dark .SlogoShadow{
    fill: #77a19f;
    stroke: transparent;
}

.letterS{
    fill: #ee6c6291;
    stroke: #faf8fa85;
}

.dark .letterS{
    fill: #f53925;
    stroke: #faf8fa85;
}

.logo{
    width: 50px;
    padding: 10px;
    position: relative;
}


.RlogoShadow {
    fill:#000;
    stroke:transparent;
}  

.dark .RlogoShadow{
    fill:#e4e7be;
    stroke:transparent;
} 

.letterR{
    fill: #b8860b;
    stroke: #ff0;
}

.SlogoShadow{
    fill: #a6c35da1;
    stroke: transparent;
}

.dark .SlogoShadow{
    fill: #77a19f;
    stroke: transparent;
}

.letterS{
    fill: #ee6c6291;
    stroke: #faf8fa85;
}

.dark .letterS{
    fill: #f53925;
    stroke: #faf8fa85;
}


/*--------------------------------- path -----------------------------------------------*/

.logo .RShadow, .logoIntro .RShadow, .logoShow .RShadow{
    d:path("M101.747,86.996c35.2-12.17,28.41-45.56,21.25-56c-15.25-22.25-76-10.91-82.25-11.25l-11.8,8.02 c0.98,0.05,18.1-2.41,25.14-2.55c14.44-0.3,25.16-0.51,33.37,0.99c20.67,3.63,24.2,9.24,26.29,10.54 c8.13,10.46,8.45,18.64,7.12,26.64c-2.25,11.18-11.64,18.77-19.47,22.98c-3.08,1.67-5.92,2.81-7.99,3.44 c-3.29-1.65,47.1,39.38,47.1,39.38l2.49-13.44C142.997,115.745,98.457,85.345,101.747,86.996z");
}

.logo .RFront , .logoIntro .RFront, .logoShow .RFront{
    d:path("M140.501,129.079l-11.61,1.53c0,0-54.29-42.9-51-41.25c35.75-18.5,39.5-36.14,23.75-47.25 c-17.14-5.61-34.14-6.61-52.56-6.42c-3.49,0.17-6.7,0.39-9.43,0.6c-5.47,0.41-9.03,0.81-9.26,0.82l-1.54-9.41 c0,0,63.31-10.21,83.48,7.72c12.94,11.51,16.95,41.99-18.92,54.39C90.121,88.159,140.501,129.079,140.501,129.079z");
}

.logo .SShadow, .logoIntro .SShadow, .logoShow .SShadow{
    d:path("M57.25,45.75c1.083-0.503,7.866-3.612,13.563-6.688c6.84-3.693,12.938-9.438,12.938-9.438 l-6.938,5.75c0,0-5.61,3.46-12.125,6.125c-5.5,2.25-15.938,5.063-19.125,6.875c-2.333,1.327-6.5,7.813-6.438,15.625 c0.032,3.942,3.313,14.75,31.063,16.813c2.397,0.178,19.659,4.56,22.563,20.5c3.313,18.188-13.5,29.5-13.5,29.5 s11.5-2.166,16.417-9.25c1.753-2.525,7.268-10.438,4.917-22.083c-1.833-9.083-10.928-21.408-23.755-22.322 C49.75,75.229,46.655,65.985,45.75,63.146C43.333,55.563,48.375,49.875,57.25,45.75z");
}

.logo .SShadow1, .logoIntro .SShadow1, .logoShow .SShadow1{
    d: path("M58.25,35.938c-10.086,0.94-19.75,6.188-19.75,6.188L52.25,31.75 c0,0,12.355-3.175,18.375-3.125c4.527,0.038,13.5,0.625,13.5,0.625l-7.313,6.125C76.813,35.375,65.625,35.25,58.25,35.938z");
}

.logo .SFront, .logoIntro .SFront, .logoShow .SFront{
    d:path("M76.917,35.25c0,0-28.879-1.78-39.521,7.843c-1.725,1.351-3.267,3.116-4.553,5.143 c-1.286,2.027-2.314,4.319-3.01,6.725c-1.391,4.813-1.448,10.085,0.438,14.632c0.667,2.167,1.583,4.25,2.711,6.219 s1.614,2.462,3.351,3.938c5,4.25,14.837,5.258,17.5,6.167c7.083,2.417,26.188,1.464,29.833,13.167 c4.75,15.25-11.743,31.776-11.743,31.776l7.41-0.026c0,0,15.167-8.583,13.771-28.24c-0.108-1.522-1.938-13.509-14.521-19.176 c-16.999-7.438-26.917-0.833-38-14.167c-3.333-5.438-0.194-19.553,7.167-21.833C72.5,39.75,76.917,35.25,76.917,35.25z");
}