.profilePage form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    margin-top: 1.5em;
}

.profilePage .loginSubmit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.pageTitle{
    color: #aaff84;
    text-shadow: 0 0 11px #4525be;
    font-size: 1.2em;
    padding: 0 1em;
    font-weight: 600;
    background: linear-gradient(180deg, rgb(11 22 23) 0%, rgb(53 118 130) 70%, rgb(20 49 54) 100%);
}