<%- include('../partials/userDetails.ejs') %>
<div class="aboutPage">
    <div>
    <div class="profile card">
        <div class="profileHead">
            <div class="profilePic">
            </div>
            <span>Barani</span>
            <span>Founder - Rangal Softwares</span>
        </div>
        <div class="profileInfo">
            <div class="tooltip" onclick="copyData('ttEmail')" onmouseout="outFunc('ttEmail')">
                <span class="tooltiptext" id="ttEmail" >Click to Copy</span>
                <span> <i class="material-icons">email</i> rangalsoftwares@gmail.com</span>
            </div>
            <div class="tooltip" onclick="copyData('ttContact')" onmouseout="outFunc('ttContact')">
                <span class="tooltiptext" id="ttContact" >Click to Copy</span>
                <span> <i class="material-icons">call</i> + 91 6374694979</span>
            </div>
            <div>
                <span> <i class="material-icons">location_on</i>Puducherry, India</span>
            </div>
        </div>
    </div>
    <div class="profile card">
        <div class="profileHead">
            <div class="profilePic Kalai">
            </div>
            <span>Kalaivani</span>
            <span>Co-Founder - Rangal Softwares</span>
        </div>
    </div>   
</div>
<div> 
    <div class="abtDetails card">
        <span>About</span>
        <div class="abtMsg">
            In this digital era, having the feature to access your business online is inevitable to sustain.
            <b>Rangal softwares </b> support you to bring your business online with less cost but with more features.
            We give more importance to our client satisfaction.
        </div>
        <div>
            <div>Work Experience</div>
            <div>10+ years</div>
            <div>Skills Supported</div>
            <div>React, NodeJS, .NET, MS SQL Server, MongoDB, HTML, CSS, Javascript</div>
        </div>
    </div>
    <div></div>
    <div class="abtServices card">
        <span>Services</span>
        <div class="serviceTiles">
            <div>Creating MERN stack applications</div>
            <div>Portfolio Application</div>
            <div>Windows Application</div>
            <div>MS SQL Server Queries & Performance tuning</div>
            <div>Application hosting</div>
            <div>Website End-to-End support</div>
            <div>Custom Product creation</div>
        </div>
    </div>
</div>
</div>