.txtarea{
    resize: none;
    height: 12em;
    max-width: 25em;
    text-align: justify;
    line-height: 1.5em;
}


.txtbox, .txtarea{
    cursor: default;
    border: 0;
    background-color: transparent;
    font-size: 1em;
    padding: 1em .5em;
    color: #000;
}

.dark .txtbox, .dark .txtarea{
    color:#fff;
}

.material-icons + input[type='checkbox']{
    appearance: none;
    pointer-events: none;
}

.viewMode {
    text-align: center;
}

.editMode {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 24fr;
    margin: 0px;
    row-gap: 0.5em;
}

.editMode .txtbox, .editMode .txtarea{
    grid-column: 2/ 27;
}

.editMode .editOn{
    visibility: hidden;
    pointer-events:none;
}

.chktxtEdit:checked ~ .txtbox
,.chktxtareaEdit:checked ~ .txtarea{
    pointer-events:visible;
    box-shadow: 0px 0px 999999px 999999px rgba(0, 0, 0, 0.3);    
}

.contentHide{
    visibility: hidden;
    pointer-events:visible;
    height: 0em;
    padding: 0;
}

@media (max-width: 900px){
    .editMode {
        display: flex;
        flex-direction: column;
        margin: 0px;
        row-gap: 0.5em;
    }
}